@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header2-5 H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-align: left;
}
#msg-box4-8 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8 .mbr-article {
  color: #ffffff;
}

#dropdown-menu-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-u .nav .link,
#dropdown-menu-u .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-u .navbar,
#dropdown-menu-u .dropdown-menu {
  background: #000000;
}
#dropdown-menu-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-u .dropdown-menu a:hover,
#dropdown-menu-u .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-u .navbar-toggler {
  color: #ffffff;
}
#msg-box5-x .mbr-header__text {
  color: #ffffff;
}
#msg-box5-x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-x .mbr-article {
  color: #ffffff;
}
#msg-box5-y .mbr-header__text {
  color: #ffffff;
}
#msg-box5-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-y .mbr-article {
  color: #ffffff;
}
